import React from 'react';
import { render } from '@testing-library/react';
import { {{name}} } from './{{name}}';

describe('{{type}} > {{name}}', () => {
it('Should default render', () => {
const { asFragment } = render(
<{{name}}>
  <div>content</div>
</{{name}}>,
);

expect(asFragment()).toMatchSnapshot();
});
});
